
DataStructures/.vs/DataStructures/DesignTimeBuild/.dtbcache.v2
DataStructures/.vs/DataStructures/v16/.suo
*.ide
*.ide-shm
*.ide-wal
*.ide
DataStructures/.vs/DataStructures/v16/.suo
DataStructures/API/obj/API.csproj.nuget.g.props
*.cache
*.json
*.json
*.config
*.config
DataStructures/.vs/DataStructures/v16/.suo
*.dll
DataStructures/.vs/DataStructures/v16/.suo
DataStructures/API/obj/Debug/netcoreapp3.1/API.assets.cache
DataStructures/API/obj/Debug/netcoreapp3.1/API.csprojAssemblyReference.cache
DataStructures/Consola/obj/Debug/netcoreapp3.1/Consola.assets.cache
*.cache
*.cache
*.config
*.config
DataStructures/.vs/DataStructures/v16/.suo
*.json
*.dll
*.exe
*.pdb
*.json
*.dll
*.pdb
*.json
*.props
